@use '../../../../../styles.scss' as *;
@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

i {
    color: $primary-color;
}

.content-wrapper {
    background: white;
    border-radius: 20px;
    border: 2px solid #d7d6d68a;

}

.advantage-section {
    line-height: 26px;

    i {
        font-size: 13px;
        font-weight: 500;
    }
}

.cancellation-date {
    p {
        color: $primary-color;
        margin-left: 21px;
    }
}

.rent-section {
    p {
        font-size: 26px;
        font-weight: 800;
    }

    .rent-night {
        font-size: 18px;
        font-weight: 400;
    }
}

.rent-notes {
    p {
        color: $secondary-color;
        font-size: 17px;
    }

}

.residents-count {
    i {
        font-size: 25px;
    }

    span {
        color: $secondary-color;
        font-size: 25px;
    }
}

.form-select {
    padding-right: 2.5rem;
    /* Add space for custom arrow */
    background-color: white;
    /* Ensures no default styling */
    border: 1px solid $secondary-color;
    height: 38px;
    outline: none;
    background-image: unset;

    &:focus {
        border-color: $secondary-color;
        outline: none;
        box-shadow: none;
    }

    &:after {
        content: none;
    }
}

/* Optional: Custom arrow */
.form-select-wrapper {
    position: relative;

    &::after {
        content: "\f107";
        /* FontAwesome caret-down */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 50%;
        /* Aligns based on select field */
        transform: translateY(-50%);
        /* Centers it vertically */
        color: #8C3A87;
        /* Custom arrow color */
        pointer-events: none;
        /* Disable interaction */
    }
}

$border-color: #d7d6d600; // Default border color for small and medium sizes
$large-border-color: #d7d6d68a; // Border color for large sizes

.border-r-grey {
    border-right: 2px solid $border-color;
}

@include respond-to(large) {
    .border-r-grey {
        border-right: 2px solid $large-border-color;
    }
}