<div class="container-fluid">
  <div class="row">
    <h4 class="col-12 col-md-12 mb-2">Rooms & Prices</h4>
  </div>
  <div class="row">
    <div class="search-box-wrapper d-flex flex-wrap col-12 col-md-12 col-lg-8">
      <div class="multi-label-input col-12 col-md-12 col-lg-5 px-sm-2 px-md-1">
        <div class="input-group multi-label-container">
          <label for="exampleInputUsername" class="multi-label">Check-in Date</label>
          <span class="input-group-text"></span>
          <label for="exampleInputUsername" class="multi-label">Check-out Date</label>
        </div>

        <div class="input-group">
          <input type="text" class="form-control" id="check-in-date" placeholder="Enter date"
            aria-label="check-in-date" />
          <span class="input-group-text">|</span>
          <input type="text" class="form-control" id="check-out-date" placeholder="Enter date"
            aria-label="check-out-date" />
        </div>
      </div>

      <div class="col-6 col-md-6 col-lg-2 px-1 px-sm-2 px-md-1">
        <label for="basic-url" class="form-label">Adult</label>
        <div class="input-group">
          <span class="input-group-text">-</span>
          <input type="text" class="form-control" aria-label="Adult number" />
          <span class="input-group-text">+</span>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-2 px-1 px-sm-2 px-md-1">
        <label for="basic-url" class="form-label">Child</label>
        <div class="input-group">
          <span class="input-group-text">-</span>
          <input type="text" class="form-control" aria-label="Child number" />
          <span class="input-group-text">+</span>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-2 px-1 px-sm-2 px-md-1">
        <label for="basic-url" class="form-label">Rooms</label>
        <div class="input-group">
          <span class="input-group-text">-</span>
          <input type="text" class="form-control" aria-label="Rooms number" />
          <span class="input-group-text">+</span>
        </div>
      </div>
      <div class="search-icon text-white mt-1 mx-1 mx-sm-2 mx-md-1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </div>
</div>