// Color variables
$primary-color: #8C3A87;
$secondary-color: #0ABFAD;
$accent-color: #D6F6FA;
$background-color: #FAFAFA;
$text-color: #25283D;

// Font variables
$primary-font: 'Roboto', sans-serif;