<div class="room-ads-wrapper">
    <div class="room-ads-details">
        <p>{{ roomAdsData.roomType }} Types, {{ roomAdsData.roomCount }} Rooms</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button *ngFor="let img of roomAdsData.roomImg; let i = index" type="button"
                [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
        </div>

        <div class="carousel-inner">
            <div *ngFor="let img of roomAdsData.roomImg; let i = index" class="carousel-item" [class.active]="i === 0">
                <img [src]="img" class="d-block w-100" alt="room-img-{{ i }}" />
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex flex-column ads-content-responsive">
        <h5 class="ads-title">{{ roomAdsData.roomName }}</h5>
        <ul>
            <li *ngFor="let item of roomAdsData.roomContents" class="d-flex align-items-center gap-1">
                <i class="fa-solid fa-star"></i>
                <p>{{ item }}</p>
            </li>
        </ul>
    </div>
</div>