/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


// Color variables
$primary-color: #8C3A87;
$secondary-color: #0ABFAD;
$accent-color: #D6F6FA;
$background-color: #FAFAFA;
$text-color: #25283D;

// Font variables
$primary-font: 'Roboto', sans-serif;

// Mixin for media query
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) { @content; }
  }
  @else if $breakpoint == x-small {
    @media (min-width: 577px) and (max-width: 768px) { @content; }
  }
  @else if $breakpoint == medium {
    @media (min-width: 769px) { @content; }
  }
  @else if $breakpoint == large {
    @media (min-width: 1024px) { @content; }
  }
}
// Global Styles
body {
  font-family: $primary-font;
  color: $text-color;
  background-color: $background-color;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}
input{
  font-size: 14px;
  font-weight: 500;
}
p{
  margin: 0px;
}
ol, ul {
  padding-left: 0rem;
}

