/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

// Global Styles
body {
  font-family: $primary-font;
  color: $text-color;
  background-color: $background-color;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}
input{
  font-size: 14px;
  font-weight: 500;
}
p{
  margin: 0px;
}
ol, ul {
  padding-left: 0rem;
}

